# Gather the data of death and confirmed cases

## Import death cases

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_deaths.csv'
df_death = pd.read_csv(url, index_col=False)

In [ ]:
df_death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35732 entries, 0 to 35731
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35732 non-null  object
 1   date_announced  35732 non-null  object
 2   date_positive   35732 non-null  object
 3   date_dose1      13681 non-null  object
 4   date_dose2      8107 non-null   object
 5   date_dose3      837 non-null    object
 6   brand1          13681 non-null  object
 7   brand2          8107 non-null   object
 8   brand3          837 non-null    object
 9   state           35732 non-null  object
 10  age             35732 non-null  int64
 11  male            35732 non-null  int64
 12  bid             35732 non-null  int64
 13  malaysian       35732 non-null  int64
 14  comorb          35732 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.1+ MB

In [ ]:
df_death.isnull().sum()

date                  0
date_announced        0
date_positive         0
date_dose1        22051
date_dose2        27625
date_dose3        34895
brand1            22051
brand2            27625
brand3            34895
state                 0
age                   0
male                  0
bid                   0
malaysian             0
comorb                0
dtype: int64

## Import confirmed cases data

In [ ]:
url0 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_00.csv'
df0 = pd.read_csv(url0, index_col=False)
url1 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_01.csv'
df1 = pd.read_csv(url1, index_col=False)
url2 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_02.csv'
df2 = pd.read_csv(url2, index_col=False)
url3 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_03.csv'
df3 = pd.read_csv(url3, index_col=False)
url4 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_04.csv'
df4 = pd.read_csv(url4, index_col=False)
url5 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_05.csv'
df5 = pd.read_csv(url5, index_col=False)
url6 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_06.csv'
df6 = pd.read_csv(url6, index_col=False)
url7 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_07.csv'
df7 = pd.read_csv(url7, index_col=False)
url8 = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_cases_08.csv'
df8 = pd.read_csv(url8, index_col=False)
df_pos = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8],ignore_index=True)
df_pos.info()

HTTPError: ignored

In [ ]:
df_pos.isnull().sum()

# 1- Define the problem

Project objective (classification): classify the positive case risk mortality (survive/death)
b)  

1.   prepare and validate death data before added on the confirmed
2.   clear unvalid data in confirmed cases

**Death data**

In [ ]:
df_death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35602 entries, 0 to 35601
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35602 non-null  object
 1   date_announced  35602 non-null  object
 2   date_positive   35602 non-null  object
 3   date_dose1      13581 non-null  object
 4   date_dose2      8009 non-null   object
 5   date_dose3      786 non-null    object
 6   brand1          13581 non-null  object
 7   brand2          8009 non-null   object
 8   brand3          786 non-null    object
 9   state           35602 non-null  object
 10  age             35602 non-null  int64
 11  male            35602 non-null  int64
 12  bid             35602 non-null  int64
 13  malaysian       35602 non-null  int64
 14  comorb          35602 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.1+ MB

In [ ]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4470471 entries, 0 to 4470470
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   date         object
 1   days_dose1   float64
 2   days_dose2   float64
 3   days_dose3   float64
 4   brand1       object
 5   brand2       object
 6   brand3       object
 7   import       int64
 8   cluster      int64
 9   symptomatic  int64
 10  comorb       int64
 11  state        int64
 12  district     int64
 13  age          int64
 14  male         int64
 15  malaysian    int64
dtypes: float64(3), int64(9), object(4)
memory usage: 545.7+ MB

number of dose should be converted to float, and replace state integer

In [ ]:
# convert date of dose to datetime to calculate the difference
df_death['date_positive'] = pd.to_datetime(df_death['date_positive'])
df_death['date_dose1'] = pd.to_datetime(df_death['date_dose1'])
df_death['date_dose2'] = pd.to_datetime(df_death['date_dose2'])
df_death['date_dose3'] = pd.to_datetime(df_death['date_dose3'])

In [ ]:
# calculate the difference between vaccine date and positive result date
df_death['days_dose1'] = df_death['date_positive'] - df_death['date_dose1']
df_death['days_dose2'] = df_death['date_positive'] - df_death['date_dose2']
df_death['days_dose3'] = df_death['date_positive'] - df_death['date_dose3']

In [ ]:
df_death['days_dose1'] = df_death['days_dose1'].fillna(pd.Timedelta(seconds=0))
df_death['days_dose2'] = df_death['days_dose2'].fillna(pd.Timedelta(seconds=0))
df_death['days_dose3'] = df_death['days_dose3'].fillna(pd.Timedelta(seconds=0))

In [ ]:
# convert type to numeric
from datetime import datetime
df_death['days_dose1']= df_death['days_dose1'].dt.days.astype('int64')
df_death['days_dose2']= df_death['days_dose2'].dt.days.astype('int64')
df_death['days_dose3']= df_death['days_dose3'].dt.days.astype('int64')

In [ ]:
import numpy as np
df_death['days_dose1']= df_death['days_dose1'].astype(np.float64)
df_death['days_dose2']= df_death['days_dose2'].astype(np.float64)
df_death['days_dose3']= df_death['days_dose3'].astype(np.float64)

convert state ( reference https://github.com/MoH-Malaysia/covid19-public/tree/main/epidemic/linelist)

In [ ]:
df_death.shape

(35602, 18)

In [ ]:
df_death['state'] = df_death['state'].replace(['Johor'],1)
df_death['state'] = df_death['state'].replace(['Kedah'],2)
df_death['state'] = df_death['state'].replace(['Kelantan'],3)
df_death['state'] = df_death['state'].replace(['Melaka'],4)
df_death['state'] = df_death['state'].replace(['Negeri Sembilan'],5)
df_death['state'] = df_death['state'].replace(['Pahang'],6)
df_death['state'] = df_death['state'].replace(['Pulau Pinang'],7)
df_death['state'] = df_death['state'].replace(['Perak'],8)
df_death['state'] = df_death['state'].replace(['Perlis'],9)
df_death['state'] = df_death['state'].replace(['Selangor'],10)
df_death['state'] = df_death['state'].replace(['Terengganu'],11)
df_death['state'] = df_death['state'].replace(['Sabah'],12)
df_death['state'] = df_death['state'].replace(['Sarawak'],13)
df_death['state'] = df_death['state'].replace(['W.P. Kuala Lumpur'],14)
df_death['state'] = df_death['state'].replace(['W.P. Labuan'],15)
df_death['state'] = df_death['state'].replace(['W.P. Putrajaya'],16)

In [ ]:
df_death.shape

(35602, 18)

Convert brand name to one string character

In [ ]:
df_death= df_death.replace({'brand1' : { 'Pfizer' : 'p', 'Sinovac' : 's', 'AstraZeneca' : 'a', 'Cansino' : 'c', 'Moderna' : 'm', 'Sinopharm' : 'h', 'Janssen' : 'j', 'unverified ' : 'u'  }})
df_death= df_death.replace({'brand2' : { 'Pfizer' : 'p', 'Sinovac' : 's', 'AstraZeneca' : 'a', 'Cansino' : 'c', 'Moderna' : 'm', 'Sinopharm' : 'h', 'Janssen' : 'j', 'unverified ' : 'u'  }})
df_death= df_death.replace({'brand3' : { 'Pfizer' : 'p', 'Sinovac' : 's', 'AstraZeneca' : 'a', 'Cansino' : 'c', 'Moderna' : 'm', 'Sinopharm' : 'h', 'Janssen' : 'j', 'unverified ' : 'u'  }})

In [ ]:
df_death

,date,date_announced,date_positive,date_dose1,date_dose2,date_dose3,brand1,brand2,brand3,state,age,male,bid,malaysian,comorb,days_dose1,days_dose2,days_dose3
0,2020-03-17,2020-03-17,2020-03-12,NaT,NaT,NaT,NaN,NaN,NaN,1,34,1,0,1,1,0.0,0.0,0.0
1,2020-03-17,2020-03-17,2020-03-15,NaT,NaT,NaT,NaN,NaN,NaN,13,60,1,0,1,1,0.0,0.0,0.0
2,2020-03-20,2020-03-20,2020-03-11,NaT,NaT,NaT,NaN,NaN,NaN,12,58,1,0,1,1,0.0,0.0,0.0
3,2020-03-21,2020-03-21,2020-03-17,NaT,NaT,NaT,NaN,NaN,NaN,3,69,1,0,1,1,0.0,0.0,0.0
4,2020-03-21,2020-03-21,2020-03-13,NaT,NaT,NaT,NaN,NaN,NaN,4,50,1,0,1,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,2022-05-10,2022-05-11,2022-05-09,2021-06-28,2021-07-19,2021-12-08,s,s,p,6,74,1,0,1,1,315.0,294.0,152.0
35598,2022-05-10,2022-05-12,2022-05-08,2021-09-07,2021-09-28,NaT,p,p,NaN,8,41,1,0,1,0,243.0,222.0,0.0
35599,2022-05-10,2022-05-12,2022-05-09,NaT,NaT,NaT,NaN,NaN,NaN,8,85,0,0,1,1,0.0,0.0,0.0
35600,2022-05-10,2022-05-12,2022-05-04,2021-06-04,2021-06-25,2022-01-06,s,s,p,10,75,1,0,1,1,334.0,313.0,118.0
35601,2022-05-11,2022-05-12,2022-05-08,2021-06-03,2021-06-24,NaT,p,p,NaN,9,74,1,0,1,1,339.0,318.0,0.0

In [ ]:
df_death_f = df_death.drop(df_death[(df_death.brand1 == 'Pending VMS sync') | (df_death.brand2 == 'Pending VMS sync') | (df_death.brand3 == 'Pending VMS sync')].index)

In [ ]:
df_death_f.shape

(35589, 18)

In [ ]:
df_death.shape

(35602, 18)

Prepare positive data

In [ ]:
# replace Nan with 0 to match death data 
df_pos['days_dose1'] = df_pos['days_dose1'].fillna(0)
df_pos['days_dose2'] = df_pos['days_dose2'].fillna(0)
df_pos['days_dose3'] = df_pos['days_dose3'].fillna(0)

#Drop invalid data

Condition:


*   dose 1 shoul be grater than dose 2 and 3
*   dose 2 should be grater than dose 3

In [ ]:
df_pos.query('days_dose1 < days_dose2')

Empty DataFrame
Columns: [date, days_dose1, days_dose2, days_dose3, brand1, brand2, brand3, import, cluster, symptomatic, comorb, state, district, age, male, malaysian]
Index: []

In [ ]:
df_pos.query('days_dose1 < days_dose3')

,date,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,import,cluster,symptomatic,comorb,state,district,age,male,malaysian
3010506,2022-02-12,16.0,0.0,19.0,p,NaN,p,0,0,0,0,10,143,49,0,1
3318173,2022-02-24,9.0,0.0,10.0,s,NaN,s,0,0,1,0,7,71,35,0,1
3471280,2022-03-02,3.0,0.0,51.0,p,NaN,p,0,0,0,0,2,13,23,1,0
3738364,2022-03-10,92.0,0.0,179.0,s,NaN,s,0,0,1,0,13,127,58,1,1
3806196,2022-03-13,33.0,0.0,36.0,s,NaN,p,1,0,1,0,3,31,74,1,1
3896255,2022-03-16,98.0,0.0,185.0,s,NaN,s,0,0,1,0,13,127,54,0,1
3911518,2022-03-17,35.0,0.0,36.0,s,NaN,s,0,0,1,0,7,72,28,0,1
4279571,2022-04-06,121.0,0.0,141.0,u,NaN,p,0,0,0,0,13,113,69,1,1

In [ ]:
df_pos.query('days_dose2 < days_dose3')

,date,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,import,cluster,symptomatic,comorb,state,district,age,male,malaysian
2585338,2021-11-21,176.0,0.0,6.0,p,NaN,p,0,0,0,0,10,148,30,0,1
2627472,2021-11-29,169.0,0.0,36.0,p,NaN,p,0,0,1,0,12,87,32,0,1
2697142,2021-12-14,262.0,0.0,33.0,p,NaN,p,0,0,1,0,7,72,36,0,1
2756489,2021-12-31,85.0,0.0,3.0,s,NaN,p,0,0,1,0,8,64,28,1,0
2763775,2022-01-02,214.0,0.0,21.0,s,NaN,p,0,0,0,0,10,146,43,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4462314,2022-05-10,252.0,0.0,149.0,s,NaN,p,0,0,1,0,10,142,34,0,1
4462806,2022-05-10,265.0,0.0,55.0,p,NaN,p,0,0,0,0,10,146,39,0,1
4464485,2022-05-11,307.0,0.0,160.0,p,NaN,p,0,0,1,0,7,69,73,0,1
4465115,2022-05-11,276.0,0.0,38.0,s,NaN,p,0,0,0,0,10,141,43,1,1
4467624,2022-05-12,189.0,0.0,81.0,c,NaN,p,0,0,1,1,5,42,26,1,1

Validate brand 

1.   drop unverified vaccince

In [ ]:
df_pos.groupby("brand1").size()

brand1
a     263633
c       2728
h       1304
j        264
m       1377
p    1158008
s    1078189
u        880
dtype: int64

In [ ]:
df_pos.groupby("brand2").size()

brand2
a     209935
c         41
h       1216
m       1334
p    1005933
s     935758
u        671
dtype: int64

In [ ]:
df_pos.groupby("brand3").size()

brand3
a    113071
c        85
h       469
l        17
m       390
p    669613
s     59959
u       511
dtype: int64

validate state

In [ ]:
df_pos.groupby("state").size()

state
1      383121
2      299337
3      247623
4      122885
5      202861
6      171200
7      278882
8      201838
9       17348
10    1349917
11     125974
12     371117
13     305846
14     351321
15      21364
16      19837
dtype: int64

Validate age



1.   drop age above 129
2.   drop age below 0

In [ ]:
df_pos.query("age > 129 | age < 0")

,date,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,import,cluster,symptomatic,comorb,state,district,age,male,malaysian
0,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,1,0,0,0,1,2,-1,1,0
1,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,0,1,2,-1,1,0
2,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,0,1,2,-1,0,0
389,2020-03-15,0.0,0.0,0.0,NaN,NaN,NaN,0,1,0,0,14,157,-1,1,0
400,2020-03-15,0.0,0.0,0.0,NaN,NaN,NaN,0,1,0,0,14,157,-1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469594,2022-05-12,0.0,0.0,0.0,NaN,NaN,NaN,0,0,0,0,10,146,-1,0,0
4469595,2022-05-12,297.0,276.0,0.0,p,p,NaN,0,0,0,0,10,146,-1,1,0
4469780,2022-05-12,227.0,206.0,77.0,p,p,p,0,0,0,0,10,148,-1,1,0
4469781,2022-05-12,312.0,284.0,125.0,p,p,m,0,0,0,0,10,148,-1,1,0
4470290,2022-05-12,359.0,296.0,146.0,a,a,p,0,0,0,0,14,157,-1,1,0

Validate comorb

In [ ]:
df_pos.groupby("comorb").size()

comorb
0    3881436
1     589035
dtype: int64

# Drop unvalidate data from confirmed cases

In [ ]:
#dose
data_f_p = df_pos.drop(df_pos[(df_pos.days_dose1 < df_pos.days_dose3) | (df_pos.days_dose2 < df_pos.days_dose3)].index)

In [ ]:
#brand
data_f_p = data_f_p.drop(data_f_p[(data_f_p.brand1 == 'u') | (data_f_p.days_dose2 == 'u') |(data_f_p.days_dose2 == 'u')].index)

In [ ]:
data_f_p.shape

(4468838, 16)

In [ ]:
#age 
data_f_p = data_f_p.drop(data_f_p[(data_f_p.age > 120) | (data_f_p.age < 0 )].index)

In [ ]:
data_f_p.shape

(4384166, 16)

In [ ]:
data_f_p

,date,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,import,cluster,symptomatic,comorb,state,district,age,male,malaysian
3,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,1,1,2,40,1,0
4,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,1,0,0,0,1,2,34,0,0
5,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,0,1,2,52,1,0
6,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,1,2,17,4,0,0
7,2020-01-30,0.0,0.0,0.0,NaN,NaN,NaN,1,0,1,0,1,2,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470466,2022-05-12,41.0,0.0,0.0,p,NaN,NaN,0,0,1,0,16,159,11,0,1
4470467,2022-05-12,71.0,12.0,0.0,p,p,NaN,0,0,0,0,16,159,10,1,1
4470468,2022-05-12,0.0,0.0,0.0,NaN,NaN,NaN,0,0,1,0,16,159,2,0,1
4470469,2022-05-12,0.0,0.0,0.0,NaN,NaN,NaN,0,0,0,0,16,159,4,1,1
4470470,2022-05-12,0.0,0.0,0.0,NaN,NaN,NaN,0,0,1,0,16,159,1,0,1

In [ ]:
df_death_f

,date,date_announced,date_positive,date_dose1,date_dose2,date_dose3,brand1,brand2,brand3,state,age,male,bid,malaysian,comorb,days_dose1,days_dose2,days_dose3
0,2020-03-17,2020-03-17,2020-03-12,NaT,NaT,NaT,NaN,NaN,NaN,1,34,1,0,1,1,0.0,0.0,0.0
1,2020-03-17,2020-03-17,2020-03-15,NaT,NaT,NaT,NaN,NaN,NaN,13,60,1,0,1,1,0.0,0.0,0.0
2,2020-03-20,2020-03-20,2020-03-11,NaT,NaT,NaT,NaN,NaN,NaN,12,58,1,0,1,1,0.0,0.0,0.0
3,2020-03-21,2020-03-21,2020-03-17,NaT,NaT,NaT,NaN,NaN,NaN,3,69,1,0,1,1,0.0,0.0,0.0
4,2020-03-21,2020-03-21,2020-03-13,NaT,NaT,NaT,NaN,NaN,NaN,4,50,1,0,1,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,2022-05-10,2022-05-11,2022-05-09,2021-06-28,2021-07-19,2021-12-08,s,s,p,6,74,1,0,1,1,315.0,294.0,152.0
35598,2022-05-10,2022-05-12,2022-05-08,2021-09-07,2021-09-28,NaT,p,p,NaN,8,41,1,0,1,0,243.0,222.0,0.0
35599,2022-05-10,2022-05-12,2022-05-09,NaT,NaT,NaT,NaN,NaN,NaN,8,85,0,0,1,1,0.0,0.0,0.0
35600,2022-05-10,2022-05-12,2022-05-04,2021-06-04,2021-06-25,2022-01-06,s,s,p,10,75,1,0,1,1,334.0,313.0,118.0
35601,2022-05-11,2022-05-12,2022-05-08,2021-06-03,2021-06-24,NaT,p,p,NaN,9,74,1,0,1,1,339.0,318.0,0.0

In [ ]:
data_pos = data_f_p
data_death = df_death_f

In [ ]:
data_pos.shape

(4384166, 16)

In [ ]:
data_death.shape

(35589, 18)

In [ ]:
data_pos.rename(columns = {'date':'date_positive'}, inplace = True)

In [ ]:
data_pos['death']= 0

In [ ]:
data_death['death']= 1

In [ ]:
data_pos= data_pos[['date_positive','days_dose1','days_dose2','days_dose3','brand1','brand2','brand3','state','age','male','comorb','malaysian','death']]

In [ ]:
data_death = data_death[['date_positive','days_dose1','days_dose2','days_dose3','brand1','brand2','brand3','state','age','male','comorb','malaysian','death']]

In [ ]:
data_pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4384166 entries, 3 to 4470470
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   date_positive  object
 1   days_dose1     float64
 2   days_dose2     float64
 3   days_dose3     float64
 4   brand1         object
 5   brand2         object
 6   brand3         object
 7   state          int64
 8   age            int64
 9   male           int64
 10  comorb         int64
 11  malaysian      int64
 12  death          int64
dtypes: float64(3), int64(6), object(4)
memory usage: 468.3+ MB

In [ ]:
data_death.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35589 entries, 0 to 35601
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date_positive  35589 non-null  datetime64[ns]
 1   days_dose1     35589 non-null  float64
 2   days_dose2     35589 non-null  float64
 3   days_dose3     35589 non-null  float64
 4   brand1         13568 non-null  object
 5   brand2         8001 non-null   object
 6   brand3         784 non-null    object
 7   state          35589 non-null  int64
 8   age            35589 non-null  int64
 9   male           35589 non-null  int64
 10  comorb         35589 non-null  int64
 11  malaysian      35589 non-null  int64
 12  death          35589 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 3.8+ MB

In [ ]:
data_death

,date_positive,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,state,age,male,comorb,malaysian,death
0,2020-03-12,0.0,0.0,0.0,NaN,NaN,NaN,1,34,1,1,1,1
1,2020-03-15,0.0,0.0,0.0,NaN,NaN,NaN,13,60,1,1,1,1
2,2020-03-11,0.0,0.0,0.0,NaN,NaN,NaN,12,58,1,1,1,1
3,2020-03-17,0.0,0.0,0.0,NaN,NaN,NaN,3,69,1,1,1,1
4,2020-03-13,0.0,0.0,0.0,NaN,NaN,NaN,4,50,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,2022-05-09,315.0,294.0,152.0,s,s,p,6,74,1,1,1,1
35598,2022-05-08,243.0,222.0,0.0,p,p,NaN,8,41,1,0,1,1
35599,2022-05-09,0.0,0.0,0.0,NaN,NaN,NaN,8,85,0,1,1,1
35600,2022-05-04,334.0,313.0,118.0,s,s,p,10,75,1,1,1,1
35601,2022-05-08,339.0,318.0,0.0,p,p,NaN,9,74,1,1,1,1

In [ ]:
data_pos.query("days_dose1 < days_dose2").count()

date_positive    0
days_dose1       0
days_dose2       0
days_dose3       0
brand1           0
brand2           0
brand3           0
state            0
age              0
male             0
comorb           0
malaysian        0
death            0
dtype: int64

In [ ]:
data_pos.query("days_dose1 < days_dose3").count()

date_positive    0
days_dose1       0
days_dose2       0
days_dose3       0
brand1           0
brand2           0
brand3           0
state            0
age              0
male             0
comorb           0
malaysian        0
death            0
dtype: int64

In [ ]:
data_pos.query("days_dose2 < days_dose3").count()

date_positive    0
days_dose1       0
days_dose2       0
days_dose3       0
brand1           0
brand2           0
brand3           0
state            0
age              0
male             0
comorb           0
malaysian        0
death            0
dtype: int64

In [ ]:
data_pos.groupby("age").size()

age
0      18422
1      61392
2      56818
3      51944
4      51487
       ...
105        1
106        1
107        1
110        1
120        2
Length: 109, dtype: int64

In [ ]:
data_covid = pd.concat([data_pos,data_death],ignore_index=True)

In [ ]:
data_covid

,date_positive,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,state,age,male,comorb,malaysian,death
0,2020-01-25,0.0,0.0,0.0,NaN,NaN,NaN,1,40,1,1,0,0
1,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,1,34,0,0,0,0
2,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,1,52,1,0,0,0
3,2020-01-29,0.0,0.0,0.0,NaN,NaN,NaN,2,4,0,1,0,0
4,2020-01-30,0.0,0.0,0.0,NaN,NaN,NaN,1,49,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419750,2022-05-09 00:00:00,315.0,294.0,152.0,s,s,p,6,74,1,1,1,1
4419751,2022-05-08 00:00:00,243.0,222.0,0.0,p,p,NaN,8,41,1,0,1,1
4419752,2022-05-09 00:00:00,0.0,0.0,0.0,NaN,NaN,NaN,8,85,0,1,1,1
4419753,2022-05-04 00:00:00,334.0,313.0,118.0,s,s,p,10,75,1,1,1,1
4419754,2022-05-08 00:00:00,339.0,318.0,0.0,p,p,NaN,9,74,1,1,1,1

In [ ]:
data_covid.shape

(4419755, 13)

In [ ]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4419755 entries, 0 to 4419754
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   date_positive  object
 1   days_dose1     float64
 2   days_dose2     float64
 3   days_dose3     float64
 4   brand1         object
 5   brand2         object
 6   brand3         object
 7   state          int64
 8   age            int64
 9   male           int64
 10  comorb         int64
 11  malaysian      int64
 12  death          int64
dtypes: float64(3), int64(6), object(4)
memory usage: 438.4+ MB

In [ ]:
#from google.colab import files

#data_covid.to_csv('data_covid.csv', encoding = 'utf-8-sig') 
#files.download('data_covid.csv')

In [ ]:
df1 = data_covid

In [ ]:
# create new column and convert null value to 0
df1['b1'] = df1['brand1'].isnull()
df1['b2'] = df1['brand2'].isnull()
df1['b3'] = df1['brand3'].isnull()
# new column to start counting
df1['bb1'] = df1['b1'].map({True: 0, False: 1})
df1['bb2'] = df1['b2'].map({True: 0, False: 1})
df1['bb3'] = df1['b3'].map({True: 0, False: 1})
# final column with number of dose
df1['num_dose'] = df1['bb1'] + df1['bb2'] + df1['bb3']

In [ ]:
df1 = df1.drop(['b1','b2','b3'], axis=1)
df1['AgeBin'] = pd.cut(df1['age'].astype(int), 10)
df1['date_positive'] = pd.to_datetime(df1['date_positive'])

In [ ]:
data1 = df1

In [ ]:
data1.drop('date_positive', axis = 1)

,days_dose1,days_dose2,days_dose3,brand1,brand2,brand3,state,age,male,comorb,malaysian,death,bb1,bb2,bb3,num_dose,AgeBin
0,0.0,0.0,0.0,NaN,NaN,NaN,1,40,1,1,0,0,0,0,0,0,"(39.0, 52.0]"
1,0.0,0.0,0.0,NaN,NaN,NaN,1,34,0,0,0,0,0,0,0,0,"(26.0, 39.0]"
2,0.0,0.0,0.0,NaN,NaN,NaN,1,52,1,0,0,0,0,0,0,0,"(39.0, 52.0]"
3,0.0,0.0,0.0,NaN,NaN,NaN,2,4,0,1,0,0,0,0,0,0,"(-0.13, 13.0]"
4,0.0,0.0,0.0,NaN,NaN,NaN,1,49,0,0,0,0,0,0,0,0,"(39.0, 52.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419750,315.0,294.0,152.0,s,s,p,6,74,1,1,1,1,1,1,1,3,"(65.0, 78.0]"
4419751,243.0,222.0,0.0,p,p,NaN,8,41,1,0,1,1,1,1,0,2,"(39.0, 52.0]"
4419752,0.0,0.0,0.0,NaN,NaN,NaN,8,85,0,1,1,1,0,0,0,0,"(78.0, 91.0]"
4419753,334.0,313.0,118.0,s,s,p,10,75,1,1,1,1,1,1,1,3,"(65.0, 78.0]"
4419754,339.0,318.0,0.0,p,p,NaN,9,74,1,1,1,1,1,1,0,2,"(65.0, 78.0]"

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4419755 entries, 0 to 4419754
Data columns (total 18 columns):
 #   Column         Dtype
---  ------         -----
 0   date_positive  datetime64[ns]
 1   days_dose1     float64
 2   days_dose2     float64
 3   days_dose3     float64
 4   brand1         object
 5   brand2         object
 6   brand3         object
 7   state          int64
 8   age            int64
 9   male           int64
 10  comorb         int64
 11  malaysian      int64
 12  death          int64
 13  bb1            int64
 14  bb2            int64
 15  bb3            int64
 16  num_dose       int64
 17  AgeBin         category
dtypes: category(1), datetime64[ns](1), float64(3), int64(10), object(3)
memory usage: 577.5+ MB

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [ ]:
import category_encoders as ce

data_encoded=pd.get_dummies(data=data1,drop_first=True)
data_encoded

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,date_positive,days_dose1,days_dose2,days_dose3,state,age,male,comorb,malaysian,death,...,brand3_u,"AgeBin_(13.0, 26.0]","AgeBin_(26.0, 39.0]","AgeBin_(39.0, 52.0]","AgeBin_(52.0, 65.0]","AgeBin_(65.0, 78.0]","AgeBin_(78.0, 91.0]","AgeBin_(91.0, 104.0]","AgeBin_(104.0, 117.0]","AgeBin_(117.0, 130.0]"
0,2020-01-25,0.0,0.0,0.0,1,40,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2020-01-29,0.0,0.0,0.0,1,34,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2020-01-29,0.0,0.0,0.0,1,52,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2020-01-29,0.0,0.0,0.0,2,4,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-30,0.0,0.0,0.0,1,49,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419750,2022-05-09,315.0,294.0,152.0,6,74,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
4419751,2022-05-08,243.0,222.0,0.0,8,41,1,0,1,1,...,0,0,0,1,0,0,0,0,0,0
4419752,2022-05-09,0.0,0.0,0.0,8,85,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
4419753,2022-05-04,334.0,313.0,118.0,10,75,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0
4419754,2022-05-08,339.0,318.0,0.0,9,74,1,1,1,1,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
data_encoded = data_encoded.drop('date_positive', axis = 1)

In [ ]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4419755 entries, 0 to 4419754
Data columns (total 42 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date_positive          datetime64[ns]
 1   days_dose1             float64
 2   days_dose2             float64
 3   days_dose3             float64
 4   state                  int64
 5   age                    int64
 6   male                   int64
 7   comorb                 int64
 8   malaysian              int64
 9   death                  int64
 10  bb1                    int64
 11  bb2                    int64
 12  bb3                    int64
 13  num_dose               int64
 14  brand1_c               uint8
 15  brand1_h               uint8
 16  brand1_j               uint8
 17  brand1_m               uint8
 18  brand1_p               uint8
 19  brand1_s               uint8
 20  brand2_c               uint8
 21  brand2_h               uint8
 22  brand2_m               uint8
 23  brand2_p               uint8
 24  brand2_s               uint8
 25  brand2_u               uint8
 26  brand3_c               uint8
 27  brand3_h               uint8
 28  brand3_l               uint8
 29  brand3_m               uint8
 30  brand3_p               uint8
 31  brand3_s               uint8
 32  brand3_u               uint8
 33  AgeBin_(13.0, 26.0]    uint8
 34  AgeBin_(26.0, 39.0]    uint8
 35  AgeBin_(39.0, 52.0]    uint8
 36  AgeBin_(52.0, 65.0]    uint8
 37  AgeBin_(65.0, 78.0]    uint8
 38  AgeBin_(78.0, 91.0]    uint8
 39  AgeBin_(91.0, 104.0]   uint8
 40  AgeBin_(104.0, 117.0]  uint8
 41  AgeBin_(117.0, 130.0]  uint8
dtypes: datetime64[ns](1), float64(3), int64(10), uint8(28)
memory usage: 590.1 MB

In [ ]:

X = data_encoded.drop('death',axis = 1)
y = data_encoded.death

In [ ]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

ValueError: ignored

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

In [ ]:
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)
xg_reg = xgb.train(params=params, dtrain=data_dmatrix, num_boost_round=10)

In [ ]:
import matplotlib.pyplot as plt

xgb.plot_tree(xg_reg,num_trees=0)
plt.rcParams['figure.figsize'] = [50, 10]
plt.show()

In [ ]:
xgb.plot_importance(xg_reg)
plt.rcParams['figure.figsize'] = [5, 5]
plt.show()